services:
  web:
    build: .
    ports:
      - "33081:8000"
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./data:/app/data  # 数据持久化存储
      - ./logs:/app/logs  # 日志文件存储
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,*
      - DJANGO_SETTINGS_MODULE=settings
    restart: always